.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}

.contentTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

.contentItem {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}