.wrapper {
  margin: 0 auto 30px;
  border-radius: 46px;
  padding-top:128px;
  max-width: 1720px;
  height: 400px;
  background-image: url("../../assets/images/support/bg-support.svg");

  @media (max-width: 992px) {
    padding-top:70px;
  }
  @media (max-width: 480px) {
    padding-bottom:80px;
    height: auto;
  }
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  margin: 0 auto;

  @media (max-width: 992px) {
   flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
.content {
  width: 600px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0 10px;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    font-size: 20px;
  }
  @media (max-width: 992px) {
    font-size: 18px;
    text-align: center;
  }

  @media (max-width: 480px) {
    font-size: 18px;
    text-align: unset;
  }

}

.handsIcon {
  width: 38px;
}

.heartIcon {
  width: 25px;
}

.supportLabel {
  width: 309px;
  @media (max-width: 1200px) {
    width: 257px;
  }
  @media (max-width: 480px) {
    margin-left: 80px;
    margin-bottom: 30px;
  }

}

.supportBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  //width: 490px;
  padding-left: 146px;
  position: relative;

  @media (max-width: 1200px) {
    padding-left: 106px;
    gap: 20px;
  }

  @media (max-width: 480px) {
    padding-left: 0;
    align-items: flex-start;
    width: 100%;
  }

}

.btnLabel {
  width: 170px;
}

.spiralImg {
  width: 146px;
  position: absolute;
  top:0;
  left: 0;
  @media (max-width: 1200px) {
    width: 106px;
  }
  @media (max-width: 992px) {
    width: 97px;
  }
  @media (max-width: 480px) {
    position: absolute;
    top: -40px;
    left:0px;
    transform: rotate(60deg);
  }
}

.fingerImg {
  width: 41px;
}

.fingerBlock {
  display:flex;
  gap: 2px;
  font-family: 'Montserrat', sans-serif;
  align-items: flex-end;
  font-size: 16px;
  position: absolute;
  bottom:-10px;
  right: 0;

  @media (max-width: 992px) {
    bottom:-25px;
    right: -25px;
  }

  @media (max-width: 480px) {
    bottom:-25px;
    right: 25px;
  }
}

s.btnWrapper {
  width: 100%;
}

.btn {
  display: block;
  position:relative;
  padding: 8px 12px;
  background-color: #c41414;
  border:2px solid black;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.25s;
  min-width: 236px;
  @media (max-width: 480px) {
    width: calc(100% - 20px);
    align-self: center;
  }
  &::after {
    width:100%;
    height:100%;
    content:"";
    position:absolute;
    right:-4px;
    bottom:-3px;
    z-index:-1;
    background-color: black;
    border-radius: 12px;
  }

  &:hover::after {
    background-color: transparent;
  }

  &:hover {
    background-color: #E1251B;
    border: 2px solid black;
  }

  &:active::after {
    background-color: transparent;
  }

  &:active {
    background-color: black;
  }

  &:disabled {
    background-color: #CDCBCA;
  }

  &:disabled::after {
    background-color: transparent;
  }
}