.wrapper {
  margin: 0 auto 30px;
  border-radius: 46px;
  padding-top:128px;
  padding-left: 270px;
  width: 1720px;
  height: 400px;
  background-image: url("../../assets/images/bg-support.png");
}
.contentWrapper {
  display: flex;
  gap: 70px;
}
.content {
  width: 600px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.handsIcon {
  width: 38px;
}

.heartIcon {
  width: 25px;
}

.supportLabel {
  width: 309px;
}

.supportBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  width: 490px;
  padding-left: 146px;
  position: relative;
}

.btnLabel {
  width: 170px;
}

.spiralImg {
  width: 146px;
  position: absolute;
  top:0;
  left: 0;
}

.fingerImg {
  width: 41px;
}

.fingerBlock {
  display:flex;
  gap: 2px;
  font-family: 'Montserrat', sans-serif;
  align-items: flex-end;
  font-size: 16px;
  position: absolute;
  bottom:-10px;
  right: 0;
}