.productImg {
  width: 380px;
  height: 330px;
  object-fit: cover;
  margin-bottom: 18px;
}


.productTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.productPrice {
  color: #E1251B;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
