
.logoContainer {
  position: absolute;
  top: 10%;
  right: 20%;
  width: 176px;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppLogo {
  pointer-events: none;
  width: 128px;
  height: 128px;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boy1 {
  position: absolute;
  top: 80px;
  left: 400px;
  width: 335px;
  height: 281px;
}

.boy2 {
  position: absolute;
  top: 300px;
  left: 680px;
  width: 300px;
  height: 346px;
  z-index: 10;
}

.build {
  //width: 222px;
  //position: absolute;
  //top: 290px;
  //left: -348px;
  width: 15%;
  position: absolute;
  left: -8%;
  top: 32%;
  z-index: -3;
}

.arch {
  //width: 215px;
  //position: absolute;
  //top: 290px;
  //right: -600px;
  width: 15%;
  position: absolute;
  right: 8%;
  top: 32%;
  z-index: -1;
}

.volcano {
  //position: absolute;
  //width: 436px;
  //top: 350px;
  //right: -800px;
  //z-index: 9;
  width: 30%;
  position: absolute;
  right: -7%;
  bottom: 20%;
  z-index: 2;
}

.cloudL {
  //border:1px solid red;
  //width: 1035px;
  //position: absolute;
  //top: 80px;
  //left: -900px;
  //animation-name: welcome__cloud-bottom-left;
  //animation-duration: 4s;
  //animation-iteration-count: infinite;
  //animation-direction: reverse;
  //animation-timing-function: ease-in-out;
  //z-index: 2;
  position: absolute;
  width: 40%;
  left: -8%;
  bottom: -20%;
  animation-name: welcome__cloud-bottom-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  z-index: -2;
}


.cloudRt {
  //width: 1335px;
  //border:1px solid black;
  //position: absolute;
  //top: 320px;
  //right: -900px;
  position: absolute;
  width: 70%;
  bottom: -6%;
  right: -20%;
  animation-name: welcome__cloud-bottom-right-back;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
}

.cloudRb {
  //border:1px solid green;
  //width: 1071px;
  //position: absolute;
  //top: 500px;
  //right: -900px;
  //z-index: 10;
  position: absolute;
  width: 80%;
  bottom: -20%;
  right: -40%;
  animation-name: welcome__cloud-bottom-right-front;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  z-index: 3;
}

@keyframes welcome__cloud-bottom-right-back {
  0% {
    right: -20%;
  }
  50% {
    right: -25%;
  }
  100% {
    right: -20%;
  }
}



@keyframes welcome__cloud-bottom-right-front{
  0% {
    right: -40%;
  }
  50% {
    right: -30%;
  }
  100% {
    right: -40%;
  }
}

@keyframes welcome__cloud-bottom-left{
  0% {
    left: -8%;
  }
  50% {
    left: 0;
  }
  100% {
    left: -8%;
  }
}