.newsImg {
  width: 380px;
  height: 330px;
  object-fit: cover;
}

.newsDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#737373;
  margin: 12px 0;
}

.newsTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
}